.octopus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	position: relative;
	z-index: 1;
}

.glasses {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -11.8em;
	left: .4em;
	z-index: 2;
}

.hat {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: -26em;
	z-index: 2;
}